.card {
  position: relative;
  width: auto; /*adjust size as needed */
  height: auto; 
  cursor: pointer;
  perspective: 1000px;
}

.card-front,
.card-back {
  position: absolute;
  width: auto;
  height: auto;
  /*border-radius: 20px;*/
  backface-visibility: hidden;
  transition: transform 0.6s;
  object-fit: cover;
}

.card-front {
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
  z-index: 1;
  display: none;  /* hidden initially */
}

.card.flipped .card-front {
  transform: rotateY(180deg);
  display: none;
}

.card.flipped .card-back {
  transform: rotateY(0deg);
  display: block;
  z-index: 3;
}
